/* colors offered from banner1.webp
#4ABF2A (green)
#ECF235 (florecent-yellow)
#F1F2CE (cream-beige)
#F2CC0C (gold-yellow)
#8C5535 (milk-chocolate)*/

header {
    width: 100%;
    box-sizing: border-box;
}

header img {
    width: 100%;
    max-width: 900px;
}

video, audio {
    display: block;
    width: 30%;
    margin:auto;
}

video {
    padding: 10px 0;
}

audio {
    width: 80%;
}

nav {
    background-color: #8C5535;
    padding: 2px 2px;
    text-align: center;
    height: auto;
    width: 100%;
    flex: auto;
    vertical-align: middle;
}

nav ul {
    padding: 1%;
    list-style-type: none;
    height: auto;
    vertical-align: middle;
}

nav li {
    display: inline-block;
    align-items: center;
    vertical-align: middle;
}

nav li a {
    display: block;
    background-color: #ECF235;
    border: solid #F2CC0C;
    height: 3%;
    line-height: 20px;
    font-size: 0.8em;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
}

main {
    display: flex;
}

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    text-align: center;
    border-radius: 0 3px;
}

h1 {
    margin: 0 auto;
    padding: 0;
}


body {
    background-color: #F1F2CE;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    overflow: hidden;
    flex: auto;
}

.column {
    width: 30%;
    float: left;
    margin-right: 3%;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #ffffff;
    box-sizing: border-box;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

a {
    color: #8C5535;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    width: auto;
}

table th {
    width: 33%;
}

ul {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

.price-comparison {
    margin-top: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
}

.price-comparison h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 786px) {
    nav li {
        display: inline-block;
        border: 0;
        margin: 5px 5px;
    }
    nav li a {
        width: 150px;
        margin: 5px 5px;
        border-radius: 10px;
        border: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    video, audio {
        display: block;
        width: 50%;
        margin:auto;
    }
    main{
        display: flex;
    }
    .col img {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 65%;
        margin: 20px auto;
        border: 3px #ccc;
    }
    video, audio {
        width: 90%;
    }
    .column {
        width: 30%;
        float: left;
        margin-right: 3%;
        padding: 10px;
        border: 1px solid #ddd;
        background-color: #ffffff;
        box-sizing: border-box;
    }
}