body {
    background-color: #6d726c;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

h1 {
    color: #A6A6A6;
    text-align: center;
}

h2, h3, h4, h5, h6 {
    color:#A6A6A6;
    text-align: center;
}

#container {
    background-color: #F2F2F2;
    width: 60%;
    margin: 20px auto;
    border: 5px ridge #F2F2F2;
}

nav {
    background-color: #A6A6A6;
    padding: 2px 0;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    background-color: #F2F2F2;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 1.35em;
    font-weight: bold;
    color: #737373;
    border: 5px groove #6d726c;
    border-radius: 20px;
    margin: 0 10px;
}

nav li a:hover {
    background-color: #737373;
    color: #F2F2F2;
    border: 10px ridge #F2F2F2;
}

main {
    display: flex;
}

section, aside {
    border: 2px solid #0D0D0D;
    margin: 20px;
    padding: 20px;
}

section {
    width: 80%;
}

aside {
    width: 20%;
}

.single_page {
    width: 100%;
}

#main_img_resize {
    width: 75%;
}

#lower_area {
    display: flex;
}

.col {
    border: 2px solid #0D0D0D;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
}

footer {
    background-color: #0D0D0D;
    text-align: center;
    padding: 40px 0;
    color: #A6A6A6;
    font-weight: bold;
}

.button a {
    display: block;
    width: 100px;
    height: 20px;
    background-color: #0D0D0D;
    color: #737373;
    text-decoration: #6d726c;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border: 2px ridge #737373;
    border-radius: 10px;
}

.button:hover {
    background-color: #404040;
    border: #0D0D0D;
}

table {
    border: 4px ridge #737373;
}

td, tr {
    border: 6px solid #404040;
    padding: 10px;
    margin: auto;
    vertical-align:middle;
}